# Python
.venv/
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
server/config.py
*.session
*.session-journal
server/*.session
server/*.session-journal

# Java / J2ME
*.class
classes/
bin/
build/
dist/
lib/*.jar
!lib/jsr75.jar
*.jar
*.jad

# OS
.DS_Store
Thumbs.db
